@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  @font-face {
    font-family: "ClashDisplay";
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url(./assets/font/ClashDisplay-Semibold.otf) format("opentype");
  }
}
